# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [6]:

# todo:

import pandas as pd

#1.1

numeros = pd.Series([1, 2, 3, 4, 5])
print(numeros)

#1.2
paises_capitales = {
        "Argentina": "Buenos Aires",
        "Brasil": "Brasilia",
        "Paraguay": "Asunción",
        "Chile": "Santiago",
        "Uruguay": "Montevideo"
    }

capitales = pd.Series(paises_capitales)
print(capitales)

0    1
1    2
2    3
3    4
4    5
dtype: int64
Argentina    Buenos Aires
Brasil           Brasilia
Paraguay         Asunción
Chile            Santiago
Uruguay        Montevideo
dtype: object

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [ ]:

# todo:

#1.1
tareas = pd.Series({
        "Lunes": "Lavar los cubiertos",
        "Martes": "Colgar la ropa",
        "Miercoles": "Pasear al perro",
        "Jueves": "Hacer las compras",
        "Viernes": "Limpiar el baño",
        "Sabado": "Cocinar",
        "Domingo": "Ordenar habitacion"
    })
print("Tareas de la semana")
print(tareas)

#1.2
print("\nTareas de Lunes a Viernes")
print(tareas[0:5])

#1.3

tareas[1::2] = ['Limpiar los pisos', 'Doblar la ropa', 'Cortar el pasto']
print("\nTareas actualizadas")
print(tareas)

Tareas de la semana
Lunes        Lavar los cubiertos
Martes            Colgar la ropa
Miercoles        Pasear al perro
Jueves         Hacer las compras
Viernes          Limpiar el baño
Sabado                   Cocinar
Domingo       Ordenar habitacion
dtype: object

Tareas de Lunes a Viernes
Lunes        Lavar los cubiertos
Martes            Colgar la ropa
Miercoles        Pasear al perro
Jueves         Hacer las compras
Viernes          Limpiar el baño
dtype: object

Tareas actualizadas
Lunes        Lavar los cubiertos
Martes         Limpiar los pisos
Miercoles        Pasear al perro
Jueves            Doblar la ropa
Viernes          Limpiar el baño
Sabado           Cortar el pasto
Domingo       Ordenar habitacion
dtype: object

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [31]:

# todo:

#1.1

numeros1 = pd.Series([1, 2, 3, 4, 5])
numeros2 = pd.Series([6, 7, 8, 9, 10])

suma = numeros1 + numeros2
resta = numeros1 - numeros2
multi = numeros1 * numeros2
division = numeros1 / numeros2


print("\nSuma:")
print(suma)
print("\nResta:")
print(resta)
print("\nMultiplicación:")
print(multi)
print("\nDivisión:")
print(division)


#1.2

print("\nPrimera Serie elevada al cuadrado:")
print(numeros1 ** 2)

print("\nPrimera Serie elevada al cubo:")
print(numeros1 ** 3)

print("\nPrimera Serie elevada a la cuarta potencia:")
print(numeros1 ** 4)

Suma:
0     7
1     9
2    11
3    13
4    15
dtype: int64

Resta:
0   -5
1   -5
2   -5
3   -5
4   -5
dtype: int64

Multiplicación:
0     6
1    14
2    24
3    36
4    50
dtype: int64

División:
0    0.166667
1    0.285714
2    0.375000
3    0.444444
4    0.500000
dtype: float64

Primera Serie elevada al cuadrado:
0     1
1     4
2     9
3    16
4    25
dtype: int64

Primera Serie elevada al cubo:
0      1
1      8
2     27
3     64
4    125
dtype: int64

Primera Serie elevada a la cuarta potencia:
0      1
1     16
2     81
3    256
4    625
dtype: int64

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

In [ ]:

# todo:

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.

In [ ]:

# todo: